@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --layout-row-gap: 30px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: AppleSDGothicNeo, sans-serif;
}
h1 {
  font-weight: 500;
  font-style: oblique;
  font-size: 14px;
  letter-spacing: 5px;

  @media (max-width: 500px) {
    letter-spacing: 1px;
  }
}
h2 {
  font-size: 20px;
  font-weight: 500;
}

@font-face {
  font-family: AppleSDGothicNeo;
  font-weight: 100;
  src: url('/fonts/AppleSDGothicNeoT.ttf') format('truetype');
}

@font-face {
  font-family: AppleSDGothicNeo;
  font-weight: 200;
  src: url('/fonts/AppleSDGothicNeoUL.ttf') format('truetype');
}

@font-face {
  font-family: AppleSDGothicNeo;
  font-weight: 300;
  src: url('/fonts/AppleSDGothicNeoL.ttf') format('truetype');
}

@font-face {
  font-family: AppleSDGothicNeo;
  font-weight: 400;
  src: url('/fonts/AppleSDGothicNeoR.ttf') format('truetype');
}

@font-face {
  font-family: AppleSDGothicNeo;
  font-weight: 500;
  src: url('/fonts/AppleSDGothicNeoM.ttf') format('truetype');
}

@font-face {
  font-family: AppleSDGothicNeo;
  font-weight: 600;
  src: url('/fonts/AppleSDGothicNeoSB.ttf') format('truetype');
}

@font-face {
  font-family: AppleSDGothicNeo;
  font-weight: 700;
  src: url('/fonts/AppleSDGothicNeoB.ttf') format('truetype');
}

@font-face {
  font-family: AppleSDGothicNeo;
  font-weight: 800;
  src: url('/fonts/AppleSDGothicNeoEB.ttf') format('truetype');
}

@font-face {
  font-family: AppleSDGothicNeo;
  font-weight: 900;
  src: url('/fonts/AppleSDGothicNeoH.ttf') format('truetype');

  width: calc(100% - var(--layout-row-gap));
  left: calc(var(--layout-row-gap) / 2);
}

.slideText {
  animation: slideText 20s linear infinite;
}

@keyframes slideText {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.h-80svh {
  height: 80svh;
}

.modal-center {
  padding: 2rem;
  background-color: white;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-modal-center {
  padding: 2rem;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sm-max-hidden {
  @media (max-width: 640px) {
    display: none;
  }
}

.sm-max-basis {
  @media (max-width: 640px) {
    flex-basis: 66.666666%;
  }
}

.xs-max-hidden {
  @media (max-width: 762px) {
    display: none;
  }
}
.xs-max-show {
  @media (max-width: 762px) {
    display: flex;
  }
}

.min-w-220 {
  min-width: 220px;
}

.sm-max-textsize-12 {
  @media (max-width: 640px) {
    font-size: 12px;
  }
}

.w800-max-padding {
  @media (max-width: 800px) {
    padding: 3rem 1rem 0rem 1rem;
  }
}

.min-width-313 {
  min-width: 313px;
}

svg {
  pointer-events: none;
}

.skeleton {
  background-color: #ddd;
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
