@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --layout-row-gap: 30px;
}

* {
  box-sizing: border-box;
}

.header-bottom {
  width: calc(100% - var(--layout-row-gap));
  left: calc(var(--layout-row-gap) / 2);
}
